<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="net.mappers.user.userMapper">

    <resultMap id="userVOResultMap" type="UserVO">
        <id property="user_Id" column="user_Id"/>
        <result property="user_Pw" column="user_Pw"/>
        <result property="user_Name" column="user_Name"/>
        <result property="user_Email" column="user_Email"/>
        <result property="user_Join_Date" column="user_Join_Date"/>
        <result property="user_Login_Date" column="user_Login_Date"/>
        <result property="book_cnt" column="book_cnt"/>
        <result property="userImg" column="userImg"/>	
    </resultMap>


	<insert id="register">
		insert into board_user(user_id,user_pw,user_name,user_email,session_key,session_limit,user_img,user_join_date,user_login_date,book_cnt) 
			values (#{user_Id},#{user_Pw},#{user_Name},#{user_Email},'none',sysdate,'user/default-user.png',sysdate,sysdate,0)
	</insert>

    <select id="login" resultType="userVO">
        select * from board_user where user_id = #{user_Id}
    </select>

    <update id="loginDate">
        update board_user set user_login_date = sysdate where user_id=#{user_Id}
    </update>

    <update id="keepLogin">
        update board_user set session_key = #{session_Id},session_limit = #{session_Limit} where user_Id = #{user_Id}
    </update>
    
    <select id="checkUserWithSessionKey" resultMap="userVOResultMap">
        select * from board_user where session_key = #{value}
    </select>

	<select id="getUserPw" resultType="string">
		select user_pw from board_user where user_id = #{user_Id}
	</select>
	
	<update id="userInfoUpdate">
		update board_user set user_name = #{user_Name}, user_email = #{user_Email}
			where user_Id = #{user_Id}
	</update>
	
	<update id="userPwUpdate">
		update board_user set user_pw = #{newUser_Pw} where user_id = #{user_Id}
	</update>

    <update id="bookrental">
        update board_user set book_cnt = #{book_cnt} where user_id = #{user_id}
    </update>
</mapper>