<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="net.mappers.board.boardMapper">
	
	<insert id="create">
		insert into board(
			board_no,title,content,writer,regdate,viewcnt
		) values(
			board_seq.nextval,#{title},#{content},#{writer},sysdate,0
		)
		
	</insert>

	<select id="read" parameterType="int" resultMap="boardResultMap">
		select * from board where board_no = #{board_no}
	</select>
	
	<update id="update">
		update board set title =#{title} , content=#{content}
			where board_no=#{board_no}
	</update>
	
	<delete id="delete">
		delete from board where board_no=#{board_no}
	</delete>
	
	<select id="listAll" resultType="boardVO">
		select * from board
    </select>
	
	<select id="listPaging" resultMap="boardResultMap">
		<![CDATA[
      	select * from ( select b.*, rownum r from board b order by board_no desc)
      		where r between #{page} and 10 
          	]]>
    </select>
    
    <select id="select" resultMap="boardResultMap">
    	 	<![CDATA[
    	select * from ( select b.*, rownum r from board b order by board_no desc)
      		where r between #{start} and #{end} 
          	]]>
    </select>
    
    <select id="listCriteria" resultType="boardVO">
      select * from ( select rownum as rn, b.* from ( select * from board
      <if test="skey != null">
         <if test="skey == 'writer'"> where upper(writer) like '%' || upper(#{sval}) || '%' </if>
         <if test="skey == 'title'"> where upper(title) like '%' || upper(#{sval}) || '%' </if>
         <if test="skey == 'content'"> where upper(content) like '%' || upper(#{sval}) || '%' </if>
         <if test="skey == 'all'"> where upper(writer) || upper(title) || upper(content) like '%' || upper(#{sval}) || '%'</if>
      </if>
      order by board_no desc ) b ) where rn between #{start} and #{end} 
   </select>
    
    <select id="count" resultType="int">
    	select count(*) from board
    </select>
	
	<select id="countOne" resultType="int">
 	   select  count(*)  from board <if test="skey != null">
         <if test="skey == 'writer'"> where upper(writer) like '%' || upper(#{sval}) || '%' </if>
         <if test="skey == 'title'"> where upper(title) like '%' || upper(#{sval}) || '%' </if>
         <if test="skey == 'content'"> where upper(content) like '%' || upper(#{sval}) || '%' </if>
         <if test="skey == 'all'"> where upper(writer) || upper(title) || upper(content) like '%' || upper(#{sval}) || '%'</if>
      </if>
 	</select>
	
	<resultMap type="boardVO" id="boardResultMap">
		<id property="board_no" column="board_no"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
		<result property="regdate" column="regdate"/>
		<result property="viewcnt" column="viewcnt"/>		

	</resultMap>
</mapper>	